:root {
  --progress-bg:"transparent";
	--progress-fill:#ffb53b;

	--video-width: 320px;
	--video-height: 180px;
}


body, html {
	padding: 0;
	margin: 0;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
	letter-spacing: 3px;
	overflow: hidden;
}

body.bad-config {

}

.config-messages {
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color: red;
	color: white;
	font-size: 4vh;
	font-weight: bold;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
}
.config-messages header {
	text-align: center;
	margin: 2vh 0 5vh 0;
}
.config-messages div.group {
	margin: 0 0 5vh 0;
}

#video-container {
    position:absolute;
    top: 0;
		left: 0;
		right: 0;
		bottom: 0;
    /* width:50vw;
    height:50vh; */
		/* margin-top: -25vh; */
		/*set to a negative number 1/2 of your height*/
		/* margin-left: -25vw; */
		/*set to a negative number 1/2 of your width*/
}

.hidden {
	display:none !important;
}

.progress-container,
#video-container .video-box {
	padding: 0;
	margin: 0;
	position: absolute;

	right: initial;
	left: initial;
	top: initial;
	bottom: initial;

	min-width: var(--video-width, 320px);
	max-width: var(--video-width, 320px);
	min-height: var(--video-height, 180px);
	max-height: var(--video-height, 180px);
}

#video-container .video-box video.replay {
	min-width: var(--video-width, 320px);
	max-width: var(--video-width, 320px);
	min-height: var(--video-height, 180px);
	max-height: var(--video-height, 180px);
}

.progress-container.center,
#video-container.center .video-box {
	left: 40%;
	right: initial;
}

.progress-container.left,
#video-container.left .video-box {
	left: 0;
	right: initial;
}

.progress-container.right,
#video-container.right .video-box {
	right: 0;
	left: initial;
}

.progress-container.middle,
#video-container.middle .video-box {
	top: 40%;
	bottom: initial;
}

.progress-container.top,
#video-container.top .video-box {
	top: 0;
	bottom: initial;
}


.progress-container.bottom,
#video-container.bottom .video-box {
	bottom: 0;
	top: initial;
}

#video-container .video-box .video-border-box {
	z-index: 9999;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	background-image: url('https://i.imgur.com/Y4MefHd.png');
	background-size: var(--video-width) var(--video-height);
}

#video-container .video-box .video-border-box .border {
	display: none;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	min-width: var(--video-width, 320px);
	max-width: var(--video-width, 320px);
	min-height: var(--video-height, 180px);
	max-height: var(--video-height, 180px);
	border: none;
}

#video-container .video-box .video-border-box.custom .border {
	display: block;
}

#video-container .video-box .video-border-box.none {
	background-image: none;
}

#video-container .video-box .video-border-box.black {
	background-image: url('https://i.imgur.com/4HoOsZG.png');
}
#video-container .video-box .video-border-box.blue {
	background-image: url('https://i.imgur.com/muOdiHv.png');
}
#video-container .video-box .video-border-box.cyan {
	background-image: url('https://i.imgur.com/4c7aaLK.png');
}
#video-container .video-box .video-border-box.green {
	background-image: url('https://i.imgur.com/PiwlVjd.png');
}
#video-container .video-box .video-border-box.darkgreen {
	background-image: url('https://i.imgur.com/P9ZtCAn.png');
}
#video-container .video-box .video-border-box.jade {
	background-image: url('https://i.imgur.com/2i82REJ.png');
}
#video-container .video-box .video-border-box.lightblue {
	background-image: url('https://i.imgur.com/9M1EMbk.png');
}
#video-container .video-box .video-border-box.lightpink {
	background-image: url('https://i.imgur.com/O6bCgau.png');
}
#video-container .video-box .video-border-box.lightpurple {
	background-image: url('https://i.imgur.com/YuOjaYd.png');
}
#video-container .video-box .video-border-box.lightred {
	background-image: url('https://i.imgur.com/PzSm5ja.png');
}
#video-container .video-box .video-border-box.lime {
	background-image: url('https://i.imgur.com/xZqA9ve.png');
}
#video-container .video-box .video-border-box.orange {
	background-image: url('https://i.imgur.com/ILkW15e.png');
}
#video-container .video-box .video-border-box.pink {
	background-image: url('https://i.imgur.com/hcSEair.png');
}
#video-container .video-box .video-border-box.purple {
	background-image: url('https://i.imgur.com/YQcy0RK.png');
}
#video-container .video-box .video-border-box.red {
	background-image: url('https://i.imgur.com/NCoGlt4.png');
}
#video-container .video-box .video-border-box.redpink {
	background-image: url('https://i.imgur.com/NVHo4ch.png');
}
#video-container .video-box .video-border-box.white {
	background-image: url('https://i.imgur.com/ejtPCBm.png');
}

progress[value] {
	-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of default border in Firefox. */
	border: none;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 70px;
	width: 100%;
	height: 7px;
	padding: 0 140px 0 0;
	margin: 0 0 0 0;
}

progress[value]::-webkit-progress-bar {
	background-color: var(--progress-bg, transparent);
}

progress::-webkit-progress-value {
	background-color: var(--progress-fill, #ffb53b);

	-webkit-transition : width 1000ms ease;
   -moz-transition : width 1000ms ease;
     -o-transition : width 1000ms ease;
        transition : width 1000ms ease;
}

.progress-container .progress-bar {
	height: 200px;
	width: 50px;
	background-color: black;
	padding: 4px;
	display: inline-block;
}

.progress-container .progress-bar .fill {
	background-color: red;
	bottom: 0;
	top: 50%;
	left: 0;
	right: 0;
	position: absolute;
}
